#customers-login {
  width: 80vw;
  height: 80vh;
  background-color: #cbd5e1;
  display: flex;
  justify-content: center;
  // align-items: center;
  // text-align: center;
  // div {
  //   border-radius: 300px;
  // }
}